/* You can add global styles to this file, and also import other style file*/
.list-group-item {
    cursor: pointer;
}

.input-label-lg{
    background: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    font-size :large;
    font-weight:bold;
}

.input-label{
    background: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}
